@{
    ViewData["Title"] = "Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pokemon GO Management Page</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
